# Web server configuration
PORT=8080

# for mock operations
MOCK_TRANSCRIPTION_PATH=assets/mock_transcription.md
MOCK_EXTRACTION_PATH=assets/mock_extraction.json

# path to store uploaded files, transcriptions and extracted json files
FILE_STORAGE_PATH=./storage

## Adapters
TRANSCRIBER=mock
# TRANSCRIBER=openai
EXTRACTOR=mock
# EXTRACTOR=openai
EXPORTER=mock
# EXPORTER=webhook
# EXPORTER=googlesheets

# Adapter configurations

## OpenAI

# for OpenAI API usage
OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>

## Web hook

# for web hook test, will pass extracted json file to the given url
WEBHOOK_EXPORT_URL=<YOUR_EXPORT_WEBHOOK_URL>

## Google Sheets (not implemented yet)

# Google Sheets integration with service account credentials
GOOGLE_CREDENTIALS_FILE=./credentials/<YOUR_SERVICE_ACCOUNT_CREDENTIALS>.json
# Google sheet must be shared with the service account email address
GOOGLE_SHEET_ID=<YOUR_GOOGLE_SHEET_ID>
# fields to replace
GOOGLE_SHEET_RANGE=meetings!A:F